<div class="wrapper">
  <form (ngSubmit)="onSaveSettings()">
    <h1>Ustawienia</h1>
    <h3>Wybierz metodę 2FA dla tego konta:</h3>

    <div class="input-box">
      <label for="authMethod">Metoda 2FA:</label>
      <select
        id="authMethod"
      [(ngModel)]="method"
      name="authMethod"
      (change)="onMethodChange()"
      required
      >
      <option *ngFor="let method of authMethods" [value]="method">{{ method }}</option>
      </select>
    </div>

    <div class="input-box" *ngIf="method === 'TOTP'">
      <label for="secretKey">Sekretny klucz autoryzacyjny:</label>
      <div class="secret-key-container">
        <input
          type="text"
          id="secretKey"
        [(ngModel)]="secretKey"
        name="secretKey"
        placeholder="Sekretny klucz autoryzacyjny"
        required
        readonly
        />
        <button type="button" (click)="copySecretKey()" class="btn-secondary">Kopiuj</button>
      </div>
    </div>

    <div class="instructions" *ngIf="method === 'TOTP'">
      <strong>Instrukcja:</strong>
      <ol>
        <li>Otwórz swoją aplikację autoryzującą (np. Google Authenticator, Authy).</li>
        <li>Wybierz opcję dodania nowego konta.</li>
        <li>Wybierz ręczne wprowadzenie klucza.</li>
        <li>Wprowadź powyższy sekretny klucz.</li>
      </ol>
    </div>

    <button class="btn" type="submit">Zapisz ustawienia</button>
  </form>

  <div class="register-link">
    <p><a href="" (click)="onLogout()">Wyloguj</a></p>
  </div>

  <p *ngIf="message" class="message">{{ message }}</p>
</div>
