<div class="wrapper">
  <form (ngSubmit)="onLogin()">
    <h1>Logowanie</h1>

    <div class="input-box">
      <input
        type="text"
        [(ngModel)]="username"
        name="username"
        placeholder="Nazwa użytkownika"
        required
      />
    </div>

    <div class="input-box">
      <app-passwordBox [(passwordValue)]="password"></app-passwordBox>
    </div>

    <div class="input-box">
      <input
        type="text"
        [(ngModel)]="twoFactorCode"
        name="twoFactorCode"
        placeholder="Kod TOTP (jeśli ustawiono)"
      />
    </div>

    <button type="submit" class="btn">
      Zaloguj się
    </button>

    <p *ngIf="message" class="error">{{ message }}</p>

    <div class="register-link">
      <p>
        Nie masz konta?
        <a routerLink="/register">Zarejestruj się</a>
      </p>
    </div>
  </form>
</div>
